:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --basic-color: #212121;
  --primary-color: #757575;
  --font: black;
  --primary-theme-dark: #2f303a;
  --new-hero-theme: #c4c4c4;
  --primary-theme-light: #eeeeee;
  --accent-color: #2196f3;
  --accent-light-color: #188ce8;
  --primary-white-color: #fff;
  --primary-light-grey-color: #f5f4fa;
  --line-header: #ececec;
  --transition-dur-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --secondary-grey-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.footer-social-link, .footer-social-list, .clients-link, .social .social-link, .visually-icon, .modal-form-check-desc, .modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-white-color);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
    transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 796px;
    padding: 48px 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    justify-items: center;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    -webkit-transition: fill var(--transition-dur-and-funk);
    transition: fill var(--transition-dur-and-funk);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-nav-menu__item {
    margin-bottom: 32px;
  }
  .mobile-nav-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    color: var(--basic-color);
  }
  .mobile-nav-menu__link_current {
    position: relative;
    color: var(--accent-color);
  }
  .mobile-menu__section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu-tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    color: var(--accent-color);
  }
  .mobile-menu-mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    color: var(--primary-color);
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .mobile-menu-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .mobile-menu-social__link:not(:last-child) ::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 22px;
    height: 0px;
    margin-left: 10px;
  }
  .mobile-menu-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
  transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: box-shadow var(--transition-dur-and-funk), opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
  transition: box-shadow var(--transition-dur-and-funk), opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  -webkit-transition: background-color var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk);
}

.modal-close-btn-icon {
  -webkit-transition: fill var(--transition-dur-and-funk);
  transition: fill var(--transition-dur-and-funk);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-form .modal-form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 12px;
  margin-top: 0;
}

.modal-form-field {
  margin-bottom: 10px;
  cursor: pointer;
}

.change-modal-form-field {
  margin-bottom: 20px;
}

.modal-form-field__desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border var(--transition-dur-and-func), color var(--transition-dur-and-func);
  transition: border var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color var(--transition-dur-and-func);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.modal-form-message::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.modal-form-message:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.modal-form-message::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.modal-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-color);
}
.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--basic-color);
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon/icon-check.svg);
  -webkit-transition: outline var(--transition-dur-and-funk);
  transition: outline var(--transition-dur-and-funk);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: var(--accent-color);
}

.text-form-check-desc {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-form-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  padding: auto;
  margin: auto;
  text-decoration: none;
  -webkit-transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-funk);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--accent-light-color);
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
  .logo .logo-studio {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
  .menu-nav-contact {
    padding: 21px 0;
  }
  .menu-nav-contact__item:not(:last-child) {
    margin-bottom: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
  .menu-nav-contact {
    display: none;
  }
}
.page-header {
  border: 1px solid var(--line-header);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk);
}

.logo {
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-top: 16px;
  margin-bottom: 16px;
}
.logo .logo-studio {
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
  cursor: pointer;
}

.menu-nav__link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  color: var(--basic-color);
  -webkit-transition: color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__link_current {
  position: relative;
  color: var(--accent-color);
}
.menu-nav__link_current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transition: background-color var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk);
}

.menu-nav-contact__link {
  font-weight: 500;
  color: var(--primary-color);
  -webkit-transition: color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk);
}
.menu-nav-contact__link:hover, .menu-nav-contact__link:focus {
  color: var(--accent-color);
}

.menu-contact-icon {
  fill: currentColor;
  margin-right: 8px;
}
.menu-contact-icon:hover {
  fill: var(--accent-color);
}

.menu-nav-contact {
  -webkit-transition: color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk);
}
.menu-nav-contact__item:not(:last-child) {
  margin-right: 30px;
  cursor: pointer;
}
.menu-nav-contact__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-header__logo {
    margin-right: 87px;
  }
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
  .logo .logo-studio {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
  .menu-nav-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero {
  width: 100%;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  color: var(--primary-white-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background/hero480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero480.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url("../../images/background/hero480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/background/hero768.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../../images/background/hero768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/background/hero1600.jpg");
    height: 600px;
    padding: 200px 0;
  }
  .hero-title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    margin: 0 auto;
  }
  .button-hero {
    width: 216px;
    padding: 10px 32px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/background/hero1600@2x.jpg");
  }
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button-hero {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  display: inline-block;
  padding: 10px 24px;
  text-decoration: none;
  -webkit-transition: background-color var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk);
}
.button-hero:hover, .button-hero:focus {
  background-color: var(--accent-light-color);
}

.visually-list__item {
  margin-bottom: 30px;
}
.visually-list__item:last-child {
  margin-bottom: 0px;
}

.visually-icon {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 120px;
  background: var(--primary-light-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.visually-icon .visually-icon__item {
  width: 70px;
  height: 70px;
}

.main-title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color);
}

.suptitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .visually-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .visually-list__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  .main-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .visually-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .visually-list__item {
    width: calc((100% - 120px) / 4);
  }
}
.activity-title {
  padding: 0px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--basic-color);
  margin-bottom: 50px;
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity-list__item {
  position: relative;
}
.activity-list > .activity-list__item:not(:last-child) {
  margin-right: 30px;
}

.activity-photo {
  display: block;
  width: 100%;
  height: auto;
}

.subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}
.subtitle .text {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
.professional {
  background-color: var(--primary-light-grey-color);
}

.professional-title {
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--basic-color);
}

.professional-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.professional-list__item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.professional-title-list {
  padding: 30px 0;
}
.professional-title-list .professional-team {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 10px;
}
.professional-title-list .profile {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social .social__item {
  cursor: pointer;
}
.social .social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: background-color var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
}
.social .social-link:hover, .social .social-link:focus {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.social .social-icon {
  fill: var(--secondary-grey-color);
  -webkit-transition: fill var(--transition-dur-and-funk);
  transition: fill var(--transition-dur-and-funk);
}
.social-link:hover .social .social-icon, .social-link:focus .social .social-icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .professional-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .professional-list.professional-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .professional-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .professional-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
.clients-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 30px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.clients-list .clients-list__item {
  cursor: pointer;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--secondary-grey-color);
  border-radius: 4px;
  fill: var(--secondary-grey-color);
  -webkit-transition: fill var(--transition-dur-and-funk), border var(--transition-dur-and-funk);
  transition: fill var(--transition-dur-and-funk), border var(--transition-dur-and-funk);
}
.clients-link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
.portfolio-filter-btn {
  border-radius: 4px;
}
.portfolio-filter-button > .portfolio-filter-btn:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-style: none;
  margin: auto;
  text-decoration: none;
  background-color: var(--primary-light-grey-color);
  border-radius: 4px;
  color: var(--basic-color);
  padding: 6px 22px;
  -webkit-transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
}
.modal-btn.modal-btn--accent-color {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.modal-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio {
    background-color: var(--primary-white-color);
  }
  .portfolio-filter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-filter-btn {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-filter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-filter-btn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter-btn {
    margin-bottom: 50px;
  }
}
.project__item {
  background: var(--primary-white-color);
  border: 1px solid var(--primary-theme-light);
  -webkit-transition: border var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: border var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
  transition: border var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
  transition: border var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk), -webkit-box-shadow var(--transition-dur-and-funk);
}
.project__item:hover .overlay, .project__item:focus .overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.project__item:hover {
  border: 1px solid var(--primary-theme-light);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project .project__item {
  margin-bottom: 30px;
}

.project-list-img {
  position: relative;
  overflow: hidden;
}
.project-list-img .overlay {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100.5%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: var(--primary-white-color);
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform var(--transition-dur-and-funk);
  transition: -webkit-transform var(--transition-dur-and-funk);
  transition: transform var(--transition-dur-and-funk);
  transition: transform var(--transition-dur-and-funk), -webkit-transform var(--transition-dur-and-funk);
}

.project-title {
  padding: 20px 24px;
}
.project-title .project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}
.project-title .project-contact {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--primary-color);
  margin-top: 4px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project.project__item:not(:last-child) {
    gap: 30px;
  }
  .overlay {
    padding-top: 49px;
  }
  .project-title {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .project-title {
    padding: 63px 24px;
  }
}
.under {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-theme-dark);
}

.logo-foot {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-foot .logo-studio-foot {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-list {
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-list__link {
  color: var(--primary-white-color);
}

.address-list__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.address-contact-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .under-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-social {
    margin-left: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .under-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo-foot {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
  .logo-foot .logo-studio-foot {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
}
.footer-social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: var(--primary-white-color);
}

.footer-social-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.footer-social-list .footer-social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  -webkit-transition: background-color var(--transition-dur-and-funk);
  transition: background-color var(--transition-dur-and-funk);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer-social {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}
.message-form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: var(--primary-white-color);
}

.contact-form-input {
  width: 100%;
  padding: 16px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--primary-theme-dark);
  -webkit-transition: border-color var(--transition-dur-and-funk);
  transition: border-color var(--transition-dur-and-funk);
}
.contact-form-input:hover {
  border-color: var(--accent-color);
  outline: none;
}
.contact-form-input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-form-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-form-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-form-input input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-form-input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  color: var(--primary-white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;
  border: none;
  -webkit-transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk);
  transition: color var(--transition-dur-and-funk), background-color var(--transition-dur-and-funk);
}
.contact-form-btn:focus, .contact-form-btn:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--accent-color);
}
.contact-form-btn .form-form-btn-icon {
  fill: var(--primary-white-color);
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .contact-form {
    margin-left: 166px;
    margin-right: 152px;
  }
  .message-form-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .contact-form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form-under {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form-input {
    width: 358px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
  }
}/*# sourceMappingURL=main.css.map */