@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixin';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/mobile-menu';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';

@import './layout/header';
@import './layout/hero';
@import './layout/visually';
@import './layout/activity';
@import './layout/professional';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/project';
@import './layout/under';
@import './layout/footer-social';
@import './layout/contact-form';
