:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --basic-color: #212121;
  --primary-color: #757575;
  --font: black;
  --primary-theme-dark: #2f303a;
  --new-hero-theme: #c4c4c4;
  --primary-theme-light: #eeeeee;
  --accent-color: #2196f3;
  --accent-light-color: #188ce8;
  --primary-white-color: #fff;
  --primary-light-grey-color: #f5f4fa;
  --line-header: #ececec;
  --transition-dur-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --secondary-grey-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  align-content: stretch;
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 48px 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    justify-items: center;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    transition: fill var(--transition-dur-and-funk);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-nav-menu__item {
    margin-bottom: 32px;
  }
  .mobile-nav-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    color: var(--basic-color);
  }
  .mobile-nav-menu__link_current {
    position: relative;
    color: var(--accent-color);
  }
  .mobile-menu-tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    color: var(--accent-color);
  }
  .mobile-menu-mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    color: var(--primary-color);
  }
  .mobile-menu-social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mobile-menu-social__link:not(:last-child) ::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    height: 0px;
    margin-left: 10px;
  }
  .mobile-menu-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.page-header {
  border: 1px solid var(--line-header);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.page-header-nav {
  display: flex;
  align-items: center;
  position: color var(--transition-dur-and-funk);
}

.logo {
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo .logo-studio {
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
  cursor: pointer;
}

.menu-nav__link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  color: var(--basic-color);
  transition: color var(--transition-dur-and-funk);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__link_current {
  position: relative;
  color: var(--accent-color);
}
.menu-nav__link_current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: background-color var(--transition-dur-and-funk);
}

.menu-nav-contact__link {
  font-weight: 500;
  color: var(--primary-color);
  transition: color var(--transition-dur-and-funk);
}
.menu-nav-contact__link:hover, .menu-nav-contact__link:focus {
  color: var(--accent-color);
}

.menu-contact-icon {
  fill: currentColor;
  margin-right: 8px;
}
.menu-contact-icon:hover {
  fill: var(--accent-color);
}

.menu-nav-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: color var(--transition-dur-and-funk);
}

.menu-nav-contact__item:not(:last-child) {
  margin-right: 30px;
  cursor: pointer;
}

.menu-nav-contact__link {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
  .menu-nav-contact {
    display: none;
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
  .logo .logo-studio {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-header__logo {
    margin-right: 87px;
  }
  .menu-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .menu-nav-contact {
    padding: 21px 0;
  }
  .menu-nav-contact__item:not(:last-child) {
    margin-bottom: 10px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
  .logo .logo-studio {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
}
.hero {
  max-width: 480px;
  height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/hero480.jpg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  /* 
  1x - 96dpi
  2x - 192dpi
  3x - 288dpi
  */
}
@media screen and (min-width: 768px), (min-width: 1600px) {
  .hero {
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
    padding: 200px 0;
  }
}
.hero .hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-top: 118px;
}
@media screen and (min-width: 768px), (min-width: 1600px) {
  .hero .hero-title {
    margin-left: 237px;
    margin-right: 237px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .hero .hero-title .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero .hero {
    background-image: url("../images/mobile/hero/hero480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero .hero {
    background-image: url("../images/tablet/hero/hero768.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero .hero {
    background-image: url("../images/tablet/hero/hero768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero {
    background-image: url("../images/desktop/hero/hero1600.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero .hero {
    background-image: url("../images/desktop/hero/hero1600@2x.jpg");
  }
}
.hero .button-hero {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  display: flex;
  margin: auto;
  text-decoration: none;
  transition: background-color var(--transition-dur-and-funk);
}
.hero .button-hero:hover, .hero .button-hero:focus {
  background-color: var(--accent-light-color);
}
@media screen and (min-width: 1200px) {
  .hero .button-hero {
    width: 216px;
  }
}/*# sourceMappingURL=main.css.map */