.page-header {
    border: 1px solid var(--line-header);
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__nav {
    // display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-funk);
}

.logo {
    font-family: var(--secondary-font);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-top: 16px;
    margin-bottom: 16px;

    .logo-studio {
        font-family: var(--secondary-font);
        letter-spacing: 0.03em;
        color: var(--basic-color);
    }
}

.menu-nav__item:not(:last-child) {
    margin-right: 50px;
    cursor: pointer;
}

.menu-nav__link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    color: var(--basic-color);
    transition: color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-nav__link_current {
    position: relative;
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        margin-bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        transition: background-color var(--transition-dur-and-funk);
    }
}

.menu-nav-contact__link {
    font-weight: 500;
    color: var(--primary-color);
    transition: color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-contact-icon {
    fill: currentColor;
    margin-right: 8px;

    &:hover {
        fill: var(--accent-color);
    }
}

.menu-nav-contact {
    transition: color var(--transition-dur-and-funk);

    &__item:not(:last-child) {
        margin-right: 30px;
        cursor: pointer;
    }

    &__link {
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .menu-nav {
        display: none;
    }

    .menu-nav-contact {
        display: none;
    }

    .mobile-menu-open {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }

    .page-header__logo {
        margin-right: 87px;
    }

    .menu-nav {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1199px) {
    .logo {
        @include font(24px, 700, 28px);

        .logo-studio {
            @include font(24px, 700, 28px);
        }
    }

    .menu-nav-contact {
        padding: 21px 0;
    }

    .menu-nav-contact__item:not(:last-child) {
        margin-bottom: 10px;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .page-header__logo {
        margin-right: 93px;
    }

    .logo {
        @include font(26px, 700, 31px);

        .logo-studio {
            @include font(26px, 700, 31px);
        }
    }

    .menu-nav-contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}