.hero {
    text-align: center;
    color: var(--primary-white-color);
    background-image: url('../i');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 480px 400px;
    background-color: var(--new-hero-theme);
}
/* 
1x - 96dpi
2x - 192dpi
3x - 288dpi
*/

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url('../images/Фон/header-mobile@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url('../images/Фон_html/header-tablet.jpg');
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url('../images/Фон_html/header-tablet@2x.jpg');
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: url('../images/Фон_html/header-desktop.jpg');
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: url('../images/Фон_html/header-desktop@2x.jpg');
    }
}
// @media screen and (min-width: 768px), (min-width: 1600px) {
//     flex-basis: 50%;
//     flex-wrap: wrap;
//     align-items: center;
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 200px 0;
// }

// .hero-title {
//     @include font(44px, 900, 60px);
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--primary-white-color);

//     @media screen and (min-width: 768px), (min-width: 1600px) {
//         margin-left: 237px;
//         margin-right: 237px;
//         margin-bottom: 30px;
//     }
// }

// .button-hero {
//     @include font(16px, 700, 30px);
//     letter-spacing: 0.06em;
//     align-items: center;
//     text-align: center;
//     border-style: none;
//     width: 200px;
//     height: 50px;
//     border-radius: 4px;
//     background-color: var(--accent-color);
//     color: var(--primary-white-color);
//     display: block;
//     // padding: auto;
//     margin: auto;
//     text-decoration: none;
//     transition: background-color var(--transition-dur-and-funk);

//     &:hover,
//     &:focus {
//         background-color: var(--accent-light-color);
//     }

//     @media screen and (min-width: 768px), (min-width: 1600px) {
//     }
// }
