.project__item {
    background: var(--primary-white-color);
    border: 1px solid var(--primary-theme-light);
    transition: border var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);

    &:hover .overlay,
    &:focus .overlay {
        transform: translate(0, 0);
    }

    &:hover {
        border: 1px solid var(--primary-theme-light);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .project &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.project-list-img {
    position: relative;
    overflow: hidden;

    .overlay {
        position: absolute;
        margin: 0 auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100.5%;
        @include font(18px, 400, 28px);
        color: var(--primary-white-color);
        padding: 77px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        overflow: auto;
        transform: translate(0, 100%);
        transition: transform var(--transition-dur-and-funk);
    }
}

.project-title {
    padding: 20px 24px;

    .project-name {
        @include font(18px, 700, 36px);
        letter-spacing: 0.06em;
        color: var(--basic-color);
    }

    .project-contact {
        @include font(16px, 400, 30px);
        color: var(--primary-color);
        margin-top: 4px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &.project__item:not(:last-child) {
            gap: 30px;
        }
    }

    .overlay {
        padding-top: 49px;
    }

    .project-title {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1200px) {
    .project-title {
        padding: 63px 24px;
    }
}
