.under {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-theme-dark);
}

.logo-foot {
    font-family: var(--secondary-font);
    @include font(24px, 700, 28px);
    letter-spacing: 0.03em;
    color: var(--accent-color);

    .logo-studio-foot {
        font-family: var(--secondary-font);
        @include font(24px, 700, 28px);
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
    }
}

.address-list {
    margin-top: 20px;
    margin-bottom: 60px;
}

.address-list__link {
    color: var(--primary-white-color);
}

.address-list__item {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    margin-bottom: 8px;
}

.address-contact-item {
    @include font(14px, 400, 24px);
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
    .under-address {
        display: flex;
        justify-content: center;
    }

    .address {
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        margin-left: 165px;
    }
}

@media screen and (max-width: 1199px) {
    .address {
        text-align: center;
        align-items: center;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .under-container {
        display: flex;
        justify-content: space-between;
    }

    .logo-foot {
        @include font(26px, 700, 31px);

        .logo-studio-foot {
            @include font(26px, 700, 31px);
        }
    }
}
