:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --basic-color: #212121;
    --primary-color: #757575;
    --font: black;
    --primary-theme-dark: #2f303a;
    --new-hero-theme: #c4c4c4;
    --primary-theme-light: #eeeeee;
    --accent-color: #2196f3;
    --accent-light-color: #188ce8;
    --primary-white-color: #fff;
    --primary-light-grey-color: #f5f4fa;
    --line-header: #ececec;
    --transition-dur-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --secondary-grey-color: #afb1b8;
}
